<center>
    <H1> The Final Project: </H1>
    <H2><i>Choosing a place for a vegetarian restaurant in New York, Los Angeles and Chicago</i> </H2>
</center>

## 1. Introduction

### 1.1. The Background Information

The growing popularity of vegetarianism is noticeable globally. For example, in US alone, according to the Gallup  research conducted in year 2018 [1], around 8\% of americans consider themselves vegetarians. People choose vegetarian diet for various reasons. Previously, vegetarians were more concerned about ethical issues regarding animal welfare, but the sharp increase in interest in vegetarianism have another reason. Nowadays, many new vegetarians put their personal health and the "health" of the Earth at the forefront. Thus, it is believed that people who eat less meat, especially red one, live longer and suffer less from cardiovascular diseases and even some forms of cancer. In addition, livestock has a negative impact on greenhouse gas emissions. According to a study conducted by the Oxford Martin School [2], a global switch to vegetarianism could reduce greenhouse gas emissions from food production by more than 60\%.

In light of the above, the role of  places where "green-thinking" people could get full-bodied meal without meeting halfway their "green" beliefs, becomes crucial.

> [1] Snapshot: Few Americans Vegetarian or Vegan Gallup, Inc - https://news.gallup.com/poll/238328/snapshot-few-americans-vegetarian-vegan.aspx
>
> [2] Peter Scarborough, Paul N. Appleby, Anja Mizdrak, Adam D. M. Briggs, Ruth C. Travis, Kathryn E. Bradbury, and Timothy J. Key. Dietary greenhouse gas emis- sions of meat-eaters, fish-eaters, vegetarians and vegans in the uk. Climatic Change, 125(2):179–192, Jul 2014.


### 1.2. The Problem

The **purpose** of the work (or a **problem** to be solved) is to find out the optimal location for a vegetarian eatery in one of the three most populous US cities – New York City (NY), City of Los Angeles (CA) and Chicago (IL) by means of profiling existing approximately 1000 vegetarian eateries of the these cities using methods of descriptive statistics and machine learning algorithms. The received results can be generalized to the cities sharing the same populational and sociocultural context (e.g. big cities of North America and probably Europe). 

**Stakeholders** of the result of this research would be as entrepreneurs who wish to establish their own vegetarian restaurant, as the vegetarian food lovers willing to get acquainted with the best veg restaurants.  

**The Foursquare** location data application will be described in the chapter below.

## 2. The Data 
### 2.1. Data sources
In order to accomplish the aforementioned task the following data sources will be examined and used:

1. Dataset 'US vegetarian restaurants', available from [Kaggle](https://www.kaggle.com/parkerservello/veg-restaurants)
    * This is the main data source containing quite large amount of data concerning the veg restaurants. Unfortunatelly, the most of the data is fragmentary and unstructured. Thus, we'll take only the `name` (of the places),  `coordinates` (latitude, longitude) and `city` (to cut out unneeded data concerning other than the three cities of interest).
2. Google databases (through *Google API* quries)
    * The API queries to Google databases will be used to find out the categories of the places, their ratings and number of people who rated the place. The query strings will contain the place's name and its coordinates.
3. Foursquare databases (API queries as well)
    * The Foursquare will be helpful in finding the venues nearby the restaurants and finding out the share of competitors (other eateries) among them.
4. OpenStreetMap map and textual data (through *Folium* and  *Nominatim* libraries, accordingly)
    * The Nominatim libraries will help us to find out the zip codes of the places of interest and number of parking areas nearby every place.
    * The Folium libraris will be used to acqure map data in order to visualize the received reults 
5. Dataset 'Insightful & Vast USA Statistics' available from [Kaggle](https://www.kaggle.com/goldenoakresearch/us-acs-mortgage-equity-loans-rent-statistics), as well.
    * This dataset will be used to acqure median rental data and population data by zip codes. 
    * Missing values will be chcked manually using [Mapszipcode](http://www.mapszipcode.com/california/woodland%20hills/91364/) site.
    
### 2.2. A Sample Of The Final Dataset
Here is the sample of the dataset I have got after fetching and cleaning up the data. Note: some columns will be removed from the final version, e.g. `lat`, `lng`, `zip` -- the ones that won't directly take part in the analysis.

,name,lat,lng,rating,user_ratings_total,venues_total,venues_comp,parking,zip,city,city_district,population,rent_median,t_restaurant,t_meal_delivery,t_grocery_or_supermarket,t_store,t_meal_takeaway,t_cafe,t_health,t_bakery,t_bar,t_supermarket,t_night_club,t_lodging,t_liquor_store,t_gym,t_pharmacy
0,Pongal,40.742453,-73.982883,4.0,432,50.0,9.0,50.0,10016,NYC,Manhattan,26769.0,2367.4,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,Juice Press,40.728551,-74.007428,2.7,17,24.0,6.0,50.0,10016,NYC,Manhattan,26769.0,2367.4,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,Vatan,40.742361,-73.980337,4.3,624,50.0,7.0,50.0,10016,NYC,Manhattan,26769.0,2367.4,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Kajitsu,40.749853,-73.977721,4.5,162,21.0,12.0,50.0,10016,NYC,Manhattan,26769.0,2367.4,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Kailash Parbat,40.742063,-73.982706,4.2,625,50.0,13.0,50.0,10016,NYC,Manhattan,26769.0,2367.4,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

#### 2.2.1. The Short Description Of The Columns

 |name |description|
 |----|----|
 |'name'|the name of the place| 
 |'lat'|latitude|
 |'lng'|longitude|
 |'rating'|the rating of a place|
 |'user_ratings_total'|the number of customers who provided the rating|
 |'venues_total'|the total number of venues around the place|
 |'venues_comp'|the number of venues which might be competitors to the place|
 |'parking'|number of parking areas around the place|
 |'zip'|the postal code|
 |'city'|the city where the restaurant is situated|
 |'city_district'|a group of neighborhoods under the same name|
 |'population'|the number of inhabitants corresponding to the postal code|
 |'rent_median'|the median gross rent of the specified location|
 |'t_category'|a group of columns of one-hot encoded place categories, see the table example above|